<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.tu_bs.de/ccc/contracting/edl/Events"
			class = "de.tu_bs.ccc.contracting.edl.events.EventsPackage"
			genModel = "model/generated/Events.genmodel" />
	</extension>
</plugin>
